@charset "UTF-8";
/* CSS Document */

.apple-watch{
background:#e2e2e2;
width:230px;
height:269px;
border-radius:43px;
padding:8px;
box-sizing:border-box;
border:1px solid #bcbcbc;
position:relative;
margin-right:13px;
}

.apple-watch::before{
content:'';
display:block;
width:16px;
height:41px;
border-radius:45% 7px 7px 45%;
position:absolute;
right:-13px;
top:62px;
background:#e2e2e2;
border:1px solid #bcbcbc;
}
.apple-watch::after{
content:'';
display:block;
width:5px;
height:67px;
border-radius:8px 3px 3px 8px;
position:absolute;
right:-5px;
top:140px;
background:#e2e2e2;
border:1px solid #bcbcbc;
}

.apple-watch-screen{
background:#525051;
height:100%;
border-radius:35px;
box-sizing:border-box;
padding:inherit;
overflow:hidden;
}


.apple-watch-screen img{
border-radius:5px;
height:100%;
}

.apple-warch__screen h1{
font-style: normal;
color: #ff0000;
}

.bildschirm2 {
background-image:url(speechbg.png);
border-radius: 15px;
height:100%;
border-radius:35px;
box-sizing:border-box;
overflow:hidden;
padding:inherit;
}

.bildschirm1 {
background-image:url(karte);
border-radius: 15px;
height:100%;
border-radius:35px;
box-sizing:border-box;
overflow:hidden;
}

.bildschirm3 {
background-image:url(zeitunddistnz.png);
border-radius: 15px;
height:100%;
border-radius:35px;
box-sizing:border-box;
overflow:hidden;
padding:inherit;
}

.bildschirm4 {
background-image:url(background.png);
border-radius: 15px;
height:100%;
border-radius:35px;
box-sizing:border-box;
overflow:hidden;
padding:inherit;
}

.bildschirm5 {
background-image:url(navigationbg.png);
border-radius: 15px;
height:100%;
border-radius:35px;
box-sizing:border-box;
overflow:hidden;
padding:inherit;
}
.top {
background-image:url(Top.png);
height:15%;
box-sizing:border-box;
overflow:hidden;
}
p1{
color:white;
margin-left:7px;
margin-top:20px;
}
h1{
alignment-adjust:central;
color:#FFF;
margin-left:7px;
margin-top:16px;
font-size:12px;
}
h2{
alignment-adjust:central;
color:white;
margin:inherit;
font-size:12px;
text-align: center;
margin:inherit;
}

.bild{
margin-left:45px;
margin-top:10px;
width:100px;
height:15px;
}

.bild1{
margin-left:45px;
margin-top:10px;
width:50px;
height:10px;
}

.karte{
background-image:url(kart1.jpg);
border-radius: 15px;
height:100%;
border-radius:35px;
box-sizing:border-box;
overflow:hidden;
padding:inherit;
}
	
li{
	color:#fff;
	margin-bottom:7px;
}

p{
	
	text-align:center;
	color:#FFF;
}



.styled-select.slate {

   height: 34px;
   width: 165px;
}


.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 36px;
   width: 172px;
}
.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}



/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }


/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 165px;
   *width: 165px;
   *background: #58B14C;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
}


/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}