*
{
    webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

body
{
    background-attachment: fixed;
    background-color: #E4E4E4;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    webkit-text-size-adjust: none;
    webkit-touch-callout: none;
    webkit-user-select: none;
    width: 100%;
    overflow: hidden;
}

.wrapper
{
    font-size: 11px;
    left: 50%;
    margin: 2em auto;
    position: absolute;
    top: 47%;
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.watch
{
    margin: 0 auto;
    padding: 7.3em 0;
    position: relative;
}

.case
{
    background: #030303;
    border-radius: 4em;
    box-shadow: inset 0 0 0 0.1em #bdbdbd, inset 0 0 0.2em 0.2em #bebebe, inset 0 0.3em 0.3em 0.4em #070707, inset 0 -0.3em 0.1em 0.1em #070707, inset 0 0 0 0.9em #fff,inset 0 0 0 1.05em #313131, inset 3.5em -0.5em 2em -2em #a4a4a4, inset -1.2em -0em 0.5em 0em #a4a4a4, inset -0.4em -1.1em 0.5em 0em #a4a4a4;
    height: 24.7em;
    position: relative;
    width: 21.2em;
    z-index: 2;
}

.case:before
{
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 1%,rgba(255,255,255,0.5) 41%,rgba(255,255,255,0.2) 100%);
    border-radius: 10em 10em 11em 11em / 4em 4em 4em 4em;
    content: '';
    height: 8%;
    left: 2.5em;
    position: absolute;
    right: 2.5em;
    top: 0.3em;
}

.crown
{
    background: #f6f6f6;
    border-radius: 0.8em 0.6em 0.6em 0.8em / 1em 0.6em 0.6em 1em;
    box-shadow: -0.26em 0 0 -0.1em #060606,inset -0.1em 0 0.1em 0 #747474,inset 0 -0.1em 0 #fefefe,inset 0 0.1em 0 #fefefe,inset 0em 0.2em 0.1em 0em #eeeeee,inset 0.1em 1.1em 0.6em -0.3em #040404,inset 0.1em -1.1em 0.6em -0.3em #040404;
    height: 4.2em;
    overflow: hidden;
    position: absolute;
    right: -0.9em;
    top: 5.3em;
    width: 1.5em;
}

.crown:before
{
    background: rgba(0,0,0,0.2);
    box-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.2), 
                0 0.3em 0 rgba(0, 0, 0, 0.2), 
                0 0.4em 0 rgba(255, 255, 255, 0.2), 
                0 0.6em 0 rgba(0, 0, 0, 0.2), 
                0 0.7em 0 rgba(255, 255, 255, 0.2), 
                0 0.9em 0 rgba(0, 0, 0, 0.2), 
                0 1em 0 rgba(255, 255, 255, 0.2), 
                0 1.2em 0 rgba(0, 0, 0, 0.2), 
                0 1.3em 0 rgba(255, 255, 255, 0.2), 
                0 1.5em 0 rgba(0, 0, 0, 0.2), 
                0 1.6em 0 rgba(255, 255, 255, 0.2), 
                0 1.8em 0 rgba(0, 0, 0, 0.2), 
                0 1.9em 0 rgba(255, 255, 255, 0.2), 
                0 2.1em 0 rgba(0, 0, 0, 0.2), 
                0 2.2em 0 rgba(255, 255, 255, 0.2), 
                0 2.4em 0 rgba(0, 0, 0, 0.2), 
                0 2.5em 0 rgba(255, 255, 255, 0.2), 
                0 2.7em 0 rgba(0, 0, 0, 0.2), 
                0 2.8em 0 rgba(255, 255, 255, 0.2), 
                0 3em 0 rgba(0, 0, 0, 0.2), 
                0 3.1em 0 rgba(255, 255, 255, 0.2), 
                0 3.3em 0 rgba(0, 0, 0, 0.2), 
                0 3.4em 0 rgba(255, 255, 255, 0.2), 
                0 3.6em 0 rgba(0, 0, 0, 0.2), 
                0 3.7em 0 rgba(255, 255, 255, 0.2), 
                0 3.9em 0 rgba(0, 0, 0, 0.2), 
                0 4em 0 rgba(255, 255, 255, 0.2), 
                0 4.2em 0 rgba(0, 0, 0, 0.2), 
                0 4.3em 0 rgba(255, 255, 255, 0.2), 
                0 4.5em 0 rgba(0, 0, 0, 0.2), 
                0 4.6em 0 rgba(255, 255, 255, 0.2), 
                0 4.8em 0 rgba(0, 0, 0, 0.2), 
                0 4.9em 0 rgba(255, 255, 255, 0.2), 
                0 5.1em 0 rgba(0, 0, 0, 0.2), 
                0 5.2em 0 rgba(255, 255, 255, 0.2);
    content: '';
    height: 0.1em;
    position: absolute;
    right: 0;
    top: 0.1em;
    width: 0.5em;
}

.power
{
    background: #e4e4e4;
    border-radius: 0.3em 0.1em 0.1em 0.3em / 0.9em 0.1em 0.1em 0.9em;
    box-shadow: inset 0.1em 0.05em 0 #AFAFAF,inset -0.2em 0.5em 0.2em -0.2em #FFF,inset -0.25em 0.8em 0.2em -0.2em #000,inset 0.1em -0.6em 0.2em -0.2em #000;
    height: 6.5em;
    position: absolute;
    right: -0.3em;
    top: 13em;
    width: 0.5em;
}

.strap
{
    height: 7.6em;
    left: 2.5em;
    position: absolute;
    width: 16.2em;
    z-index: 1;
}

.strap.strap-top
{
    top: 0;
}

.strap.strap-bottom
{
    bottom: 0;
    -webkit-transform: rotate(180deg);
}

.strap:before
{
    border-radius: 50%;
    bottom: -0.3em;
    box-shadow: 2.2em 2.2em 0 -0.5em #B8B8B8;
    content: '';
    height: 3.7em;
    left: -3.2em;
    position: absolute;
    width: 3.7em;
}

.strap:after
{
    border-radius: 50%;
    bottom: -0.3em;
    box-shadow: -2.2em 2.2em 0 -0.5em #A0A0A0;
    content: '';
    height: 3.7em;
    position: absolute;
    right: -3.2em;
    width: 3.7em;
}

.mesh
{
    box-shadow: inset 0 0.1em 0 #FFF, 0 -0.7em 0 -0.6em rgba(0, 0, 0, 0.6), 0 -0.75em 0 -0.6em rgba(255, 255, 255, 0.5);
    position: absolute;
}

.mesh:nth-child(1)
{
    background: linear-gradient(to top, #a1a1a1 1%,#eeeeee 100%);
    border-radius: 2em 2em 0 0 / 2.5em 2.5em 0 0;
    bottom: -0.5em;
    height: 2.5em;
    left: 0;
    overflow: hidden;
    width: 100%;
    z-index: 5;
}

.mesh:nth-child(1):before
{
    bottom: -1em;
    box-shadow: inset 0 -2.6em 1em -0.5em rgba(0, 0, 0, 0.3);
    content: '';
    height: 5em;
    left: 0;
    position: absolute;
    -webkit-transform: rotate(-4deg);
    width: 100%;
}

.mesh:nth-child(2)
{
    background: linear-gradient(to bottom, #d2d2d2 1%,#e9e9e9 100%);
    border-radius: 1.5em 1.5em 0 0 / 2.5em 2.5em 0 0;
    bottom: 1.5em;
    box-shadow: inset 0 0.1em 0 #FFF, 0 -0.4em 0 -0.3em rgba(0, 0, 0, 0.6), 0 -0.75em 0 -0.6em rgba(255, 255, 255, 0.5);
    height: 2.5em;
    left: 5%;
    width: 90%;
    z-index: 4;
}

.mesh:nth-child(3)
{
    background: linear-gradient(to bottom, #d7d7d7 1%,#ececec 100%);
    border-radius: 1.1em 1.1em 0 0 / 2.2em 2.2em 0 0;
    bottom: 3.5em;
    box-shadow: inset 0 0.1em 0 #FFF, 0 -0.25em 0 -0.15em rgba(0, 0, 0, 0.6), 0 -0.75em 0 -0.6em rgba(255, 255, 255, 0.5);
    height: 2.3em;
    left: 9%;
    width: 82%;
    z-index: 3;
}

.mesh:nth-child(4)
{
    background: linear-gradient(to bottom, #d5d5d5 1%,#ebebeb 100%);
    border-radius: 1em 1em 0 0 / 1.9em 1.9em 0 0;
    bottom: 5.1em;
    box-shadow: inset 0 0.1em 0 #FFF, 0 -0.25em 0 -0.15em rgba(0, 0, 0, 0.6), 0 -0.75em 0 -0.6em rgba(255, 255, 255, 0.5);
    height: 2em;
    left: 11%;
    width: 78%;
    z-index: 2;
}

.mesh:nth-child(5)
{
    background: linear-gradient(to bottom, #c3c3c3 1%,#e2e2e2 100%);
    border-radius: 0.7em 0.7em 0 0 / 1.2em 1.2em 0 0;
    bottom: 6.75em;
    box-shadow: inset 0 0.1em 0 #FFF, 0 -0.75em 0 -0.6em rgba(255, 255, 255, 0.5);
    height: 1.2em;
    left: 13%;
    width: 74%;
    z-index: 1;
}
.resizer
{
    left: 1em;
    position: absolute;
    top: 1em;
    width: 230px;
}

h1
{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    text-align: center;
}

#range
{
    border-radius: 5px;
    cursor: -webkit-grab;
    display: block;
    height: 5px;
    margin-top: 2em;
    outline: none !important;
    position: relative;
    webkit-appearance: none;
    width: 100%;
}

#range::-webkit-media-slider-thumb, #range::-webkit-slider-thumb
{
    background: none;
    height: 10px;
    position: relative;
    webkit-appearance: none;
    width: 10px;
}

input[type="range"]::-webkit-slider-thumb:before
{
    background: #eaebe5;
    background: linear-gradient(to bottom, #eaebe5 0%,#dcdedd 100%);
    background: -moz-linear-gradient(top, #eaebe5 0%, #dcdedd 100%);
    background: -ms-linear-gradient(top, #eaebe5 0%,#dcdedd 100%);
    background: -o-linear-gradient(top, #eaebe5 0%,#dcdedd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaebe5), color-stop(100%,#dcdedd));
    background: -webkit-linear-gradient(top, #eaebe5 0%,#dcdedd 100%);
    border-left: 1px solid white;
    border-radius: 2px;
    border-top: 1px solid white;
    box-sizing: border-box;
    color: #5a5a5a;
    content: "< >";
    cursor: -webkit-grab;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaebe5', endColorstr='#dcdedd',GradientType=0 );
    font-family: 'Concert One', cursive;
    font-size: 17px;
    height: 22px;
    left: 0px;
    line-height: 19px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 0 white;
    top: -4px;
    width: 32px;
}

.mycircle1 {
    border: 2px solid #414552;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-25px;
    margin-top:-25px;
}